
html, body {
    background-size: 100%;
}

*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: rgb(255, 255, 255);
    background-size: 100%;
}
header{
   
    background-color: rgb(255, 255, 255);
    width: 100%;
    
}
footer{
    background-color: #FFE8E8;
    margin: 116px auto ;
    height: 135px;
    bottom: 0;
position: relative;
}

.main{
    background-color: #ffffff;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}
.logo {
    text-align: left ;
    margin-left: 120px;
    margin-top: 50px;
   
}
.logo2 {
    margin-left: 120px;
    margin-top: 50px;
    text-align: left ;
}

#mainnav ul {
    list-style: none;
    font-size: 14px;
    text-transform: uppercase;
    padding-left: 1005px;
    color: #EF898B;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

#mainnav li {
    display: inline;
    font-size: 14px;
    color: #EF898B;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}
#mainnav a{
    text-decoration: none;
    color: #EF898B;
    font-size: 14px;
    margin: 34px;
    padding-top: 40px;
    font-family: 'Ubuntu', sans-serif;
}
.main2 {
    background-color: #FFE8E8;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.flex-elem{
    width: 350px;
    height: 500px;
    margin: 24px;
    position: relative;
    flex-direction: row;
    display: inline-block;
    background-color: #ffffff;
    margin-left: 124px;
    padding-top: 27px;
    padding-left: 27px; 
    padding-right: 27px; 
    margin-bottom: 200px;
    justify-content: center;
}

.button{
    display: flex;
   width: 265px;
   height: 57px;
   padding: 22px 10px;
   justify-content: center;
   align-items: center;
   gap: 10px;
   flex-shrink: 0;
    color: #FFE8E8;
}
.content2{
    width: 420px;
    height: 283px;
    flex-shrink: 0;
}
.flex-container{
    display: flex;
    width: 1200px;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
   
}
.footer_block1{
    width: 156px;
    height: 50px;
    flex-shrink: 0;
    font-family: 'Ubuntu', sans-serif;
    color: #EF898B;
    float: left;
    margin-right: 5px;
    padding: 12px;
    position: relative;
    width: 600px;
    margin-left: 1400px;
    margin-top: -45px;
    
}
.footer_block2{
    width: 1900px;
    height: 1900px;
    flex-shrink: 0;
    padding-right: 144px;
    font-family: 'Ubuntu', sans-serif;
    color: #8E5757;
    float: left;
    margin-right: 5px;
    padding: 12px;
    position: relative;
    margin-left: 1400px;
    margin-top: -45px;
}

#footer2{
    display: inline-block;
    text-transform: uppercase;
    text-align: center;

}
.Photo{
    width: 400px;
    height: 400px;
    flex-shrink: 0;
    text-align: right;
    padding-left: 700px;
    padding-bottom: 118px;
    padding-top: 118px;
   
}
.Tekst1{
    font-size: 40px;
    color: #EF898B;
    padding-left: 119px;
    padding-right: 914px;
    margin: 14px;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 100px;
}
.Tekst10{
    font-size: 30px;
    color: #EF898B;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 1100px;
    margin-top: 10px;
    border: 1px solid #FFFFFF;
    float: left;
    margin-right: 5px;
    padding: 12px;
    position: relative;
    width: 600px;
    
    
}
.Tekst11{
    font-size: 40px;
    color: #EF898B;
    margin: 14px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 680px;
    margin-top: 170px;
    border: 1px solid #FFFFFF;
    float: left;
    margin-right: 5px;
    padding: 12px;
    position: relative;
    width: 600px;
}
.Tekst22{
    font-size: 20px;
    color: #8E5757;
    padding-left: 0px;
    padding-right: 0px;
    margin: 1px;
    margin-left: 690px;
    font-family: 'Ubuntu', sans-serif;
    
}
.Tekst2{
    font-size: 20px;
    color: #8E5757;
    padding-left: 100px;
    padding-right: 0px;
    margin: 14px;
    font-family: 'Ubuntu', sans-serif;
    border: 1px solid #FFFFFF;
    float: left;
    margin-right: 5px;
    padding: 12px;
    position: relative;
    width: 479px;
    margin-left: 119px;
    margin-top: 0px;
}
.Tekst32{
    font-size: 20px;
    padding-left: 550px;
    padding-top: 76px;
    color: #EF898B;
    font-family: 'Ubuntu', sans-serif;
}
.Arrow{
    margin-left: 600px;
    margin-bottom: 8px;  
}
.Arrow2{
   padding-left: 600px;
   margin-top: -300px;
}
.icon{
    width: 90px;
    margin-left: 24px;
}
.main_icons{
    margin-left: 700px;
    flex-shrink: 0;
    margin-top: -170px;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Ubuntu', sans-serif;
}
#contact-form input[type="tel"],
#contact-form input[type="email"],
#contact-form input[type="text"],
#contact-form input[type="name"],
#contact-form select,
#contact-form textarea{
    width: 325px;
    height: 20px;
    padding: 22px 25px;
    align-items: center;
    margin: 10px auto;
    border: solid 0px;
    background-color: #ffffff;
    border: #8E5757;
    border-radius: 5px;
    text-align: left;
    border: #909090 solid 1px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 120px;
    margin-top: 8px;
   
    
}
#contact-form input[type="submit"]{
    width: 375px;
    height: 50px;
    background-color: #EF898B;
    text-transform: uppercase;
    border-radius: 5px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    border: #EF898B solid 4px;
    font-family: 'Ubuntu', sans-serif;
    margin-left: 120px;
    margin-top: 10px;
}
#contact-form input[type="submit"]:hover{
    color: #e4abab;
}   
#contact-form input[type="text"]:hover,
#contact-form input[type="tel"]:hover,
#contact-form input[type="email"]:hover{
background-color: #f0efef;
}
#contact-form textarea:hover,
#contact-form select:hover{
    background-color: #f0efef;
}
#contact-form textarea{
    width: 324px;
    height: 142px;
    padding: 22px 25px;
    align-items: center;
    
}
#contact-form .form_item{
    margin-bottom: 5px;
}
#contact-form{
    margin-top: -336px;
    
}

#input{
    width: 325px;
    height: 61px;
    margin: 15px;
    background-color: #EF898B;
    text-transform: uppercase;
    border-radius: 5px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    border: #EF898B solid 4px;
    font-family: 'Ubuntu', sans-serif;
}
 
.button2{
    width: 325px;
    height: 61px;
    margin: 15px;
    background-color: #EF898B;
    text-transform: uppercase;
    border-radius: 5px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    border: #EF898B solid 4px;
    font-family: 'Ubuntu', sans-serif;
}
.button2:hover{
    color: #e4abab;
} 
